@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: #f2f2f2;
  /* background: #403f3e; */
  overflow-x: hidden; 
}

.main {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 45%;
  border-right: 1px solid #2B3E42;
}

.right-side {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
}

.desc {
  font-family: 'Lato', sans-serif;
}

.question-grouping {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  border: 1px solid #D5E1DD;
  border-radius: 2px;
  width: 500px;
  padding: 20px;
  padding-top: 0px;
  margin-top: 20px;
}

.question-label {

}

.question-input {
  width: 300px;
  height: 40px;
  font-size: 20px;
}

.question-item-container {
  display: flex;
  justify-content: space-between;
}

.question-item {
  border: 2px solid;
  padding: 20px;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}

.question-item:hover {
  background: #77BED2;
  cursor: pointer;
}

.framework-item {
  border: 2px solid;
  padding: 20px;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}

.coming-soon {
  border-color: #747E80;
  color: #747E80;
}

.selected {
  background: #77BED2;
}

.continue-btn {
  margin-top: 20px;
  background: #F2583E;
  width: 200px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  border: 1px solid;
  border-radius: 2px;
  font-size: 18px;
}

.continue-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 540px;
}

.continue-btn:hover {
  cursor: pointer;
}